<html lang="ru">
<head>
    <title>Чат</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="user-id" content="{{userId}}">
</head>
<body>
<div class="messenger-wrapper">
    <div class="header"><span id="username"></span> | ID {{userId}} | Вы подключены к <span id="server-id"></span>
        серверу
    </div>
    <div class="messenger">
        <div class="users" id="users">
        </div>
        <div class="dialog">
            <div class="messages" id="messages">
            </div>
            <div class="message-box">
                <input type="text" id="message-text" placeholder="Сообщение.." class="message-text">
                <button class="send" onclick="sendMessage()">Отправить</button>
            </div>
        </div>
    </div>
</div>
<div class="login-wrapper" id="login-form">
    <div class="login">
        <input class="username" type="text" id="username-text" placeholder="Имя пользователя">
        <button class="connect" onclick="connect()">Подключиться</button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.3/socket.io.min.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>
